[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scikit-learn = "*"
mglearn = "*"
swagger-client = {editable = true,path = "./strava_swagger_client"}

[requires]
python_version = "3.5"
